<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
	<meta charset="utf-8"></meta>
        <title>cnote</title>

        <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/reset-min.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="css/main.css" media="screen" type="text/css" />
    </head>

    <body>
        <div id="header"></div>
        <div id="content">
            <div id="content-left">
                <audio id="now-playing" controls preload src=""></audio>
            </div>
            <div id="content-right">
                <div id="browse">
                    <div id="artist"></div>
                    <div id="album"></div>
                </div>
                <div id="tracks"></div>
            </div>
        </div>
        <div id="footer">
            cnote -
            Bobby Powers
        </div>

        <script type="text/javascript" src="js/vendor/jquery.js"></script>
        <script type="text/javascript" src="js/vendor/underscore.js"></script>
        <script type="text/javascript" src="js/vendor/backbone.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <script type="text/template" id="list-template">
            <div class="<%= selected ? 'selected' : '' %> row <%= type %>">
                <a class="<%= type %>" href="#<%= type %>=<%= encodeURIComponent(name) %>"><%= name %></a>
            </div>
        </script>

        <script type="text/template" id="track-template">
            <div class="<%= selected ? 'selected' : '' %> row track">
                <a class="track" href="music/<%= path %>">▶</a> &nbsp; <%= album ? album + ' - ' : '' %><%= title %>
            </div>
        </script>

    </body>
</html>
