html {
    background: #444;
}

body {
    font-family: 'Droid Sans';
    font-size: 13px;
    color: gray;
    background: #444;
}

a {
    color: #ccc;
    text-decoration: none;
}

.row {
    padding: 4px;
    text-shadow: rgba(0, 0, 0, 0.199219) 0px 2px 5px;
    background: #3e3e3e;
}

.selected {
    background: #222;
}

#content-left {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 20px;
}

#content-right {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 20px;
    overflow: none;
    float: right;
}

#tracks {
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 300px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
    width: 100%;
    overflow: auto;
    float: right;
}

#browse {
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: hidden;
    float: right;
}

#content-old {
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 300px;
    bottom: 20px;
    right: 0px;
    overflow: auto;
    width: 1200px;
    overflow: auto;
    float: right;
}

#artist {
    height: 300px;
    width: 50%;
    overflow: auto;
    padding: 0px;
    float: left;
}

#album {
    height: 300px;
    width: 50%;
    overflow: auto;
    padding: 0px;
    float: right;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
}

#now-playing {
    display: none;
}