html {
}

body {
    font-family: 'Droid Sans';
    font-size: 13px;
    color: gray;
    background: #444;
}

a {
    color: #ccc;
    text-decoration: none;
}

.row {
    padding: 4px;
    text-shadow: rgba(0, 0, 0, 0.199219) 0px 2px 5px;
    background: #3e3e3e;
}

.selected {
    background: #222;
}

#content-left {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 20px;
}

#content-right {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 20px;
    overflow: none;
    float: right;
}

#tracks {
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 300px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
    width: 100%;
    overflow: auto;
    float: right;
}

#browse {
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: hidden;
    float: right;
}

#content-old {
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 300px;
    bottom: 20px;
    right: 0px;
    overflow: auto;
    width: 1200px;
    overflow: auto;
    float: right;
}

#artist {
    height: 300px;
    width: 50%;
    overflow: auto;
    padding: 0px;
    float: left;
}

#album {
    height: 300px;
    width: 50%;
    overflow: auto;
    padding: 0px;
    float: right;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
}

#now-playing {
}

// start login stuff
#login-logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#login-logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#header-logo {
    display: block;
    margin: 8px;
    float: left;
}

#welcome {
    font-weight: bold;
    float: left;
    margin-left: 20px;
    position: relative;
    padding-top: 13px;
}

#logout {
    float: right;
    margin-right: 20px;
    position: relative;
    padding-top: 13px;
}

#logout a {
    color: #444;
    text-decoration: none;
}

#login {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background-color: white;
    padding: 40px;
    padding-top: 10px;
    font-size: 24px;
}

#manager-header {
    font-size: 24px;
    background-color: #dddddd;
    height: 78px;
    overflow: hidden;
    border-style: solid;
    border-width: 10px 0 0 0;
    border-color: #888;
}

#login-box {
    font-family: "DejaVu Sans", "Helvetica", "Ariel", "sans-serif";
    color: #444;

    position: absolute;
    background-color: #dddddd;
    width: 400px;
    height: 256px;
    overflow: auto;
    border-style: solid;
    border-width: 10px;
    border-color: #888;
    border-radius: 25px;
    left:50%;
    top:50%;
    margin:-150px 0 0 -200px;
}

.error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}

#title {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.breathing-room {
    margin-top: 40px;
}
